@*@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";


    <h1>About Me</h1>

    <p>
        Hello, my name is Katia. 
    </p>
}
*@


@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@page
@model IndexModel

<h1>Welcome to My Website</h1>

<p>Here is Katia's website.</p>

<a asp-page="About">About Me</a>

<div>
    <a asp-page="Hobby">My Hobbies</a>
</div>
